.small-alt-title[data-v-78a8ee66] { font-family: Roboto; font-style: normal; font-weight: 400; font-size: 15px; line-height: 24px; color: rgb(39, 39, 39); }
.color-name[data-v-78a8ee66] { font-size: 12px; color: rgb(80, 87, 99); margin-top: 1px; }
.saturation-container[data-v-78a8ee66] { width: 100%; height: 8.75rem; border: 1px solid rgb(227, 229, 232); border-radius: 8px; }
.saturation-container[data-v-78a8ee66] .vc-saturation { border-radius: 8px; }
.hue-container[data-v-78a8ee66] { height: 0.75rem; width: 21.25rem; border: 1px solid rgb(213, 216, 221); border-radius: 4px; }
[data-v-78a8ee66].vc-saturation--black { border-radius: 8px; }
[data-v-78a8ee66].vc-input__input { min-width: 5rem; }